server {
  listen 80;
  server_name {{nginx_server_name}};

  location / {
     client_max_body_size 20m;
     client_body_timeout  300s;
     proxy_set_header Host $host;
     proxy_pass http://localhost:8080;
  }
}
