# {{ansible_managed}}

[Unit]
Description=concourse-ui
Documentation=http://concourse.ci

[Service]
Restart=on-failure
ExecStart=/usr/bin/concourse web \
  --basic-auth-username {{basic_auth_user}} \
  --basic-auth-password {{basic_auth_password}} \
  --session-signing-key /opt/concourse/keys/session_signing_key \
  --tsa-host-key /opt/concourse/keys/host_key \
  --tsa-authorized-keys /opt/concourse/keys/authorized_worker_keys \
  --postgres-data-source postgres://{{postgresql_user}}:{{postgresql_password}}@{{server_ip}}/{{postgresql_db}}?sslmode=disable \
  --external-url http://{{nginx_server_name}}

[Install]
WantedBy=multi-user.target
