# {{ansible_managed}}

[Unit]
Description=concourse-worker
Documentation=http://concourse.ci

[Service]
Restart=on-failure
ExecStart=/usr/bin/concourse worker \
  --work-dir /opt/concourse/worker \
  --peer-ip {{server_ip}} \
  --tsa-host {{server_ip}} \
  --tsa-public-key /opt/concourse/keys/host_key.pub \
  --tsa-worker-private-key /opt/concourse/keys/worker_key

[Install]
WantedBy=multi-user.target
